

<h1>部員一覧</h1>
<table class="table">
	<thead>
		<tr>
			<th>名前</th>
			<th>1ジャン</th>
			<th>2ジャン</th>
			<th>その他</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<!--=============ユーザーが部門長であるか否か============================-->
			<%if user.user_genre_infos.find_by(is_genre_leader: true) != nil%>
			  <% user_is_genre_leader = true %>
			  <%else %>
			  <% user_is_genre_leader = false %>
			<%end%>
			<!--===============================================================-->
		<tr>
			<td><%=link_to user.name, user_path(user.id) %></td>
			<td><%=user.get_genre1_name(user)%></td>
			<td><%=user.get_genre2_name(user)%></td>
			<td>
				<% if user.is_admin==true %>代表<%end%>
				<% if user_is_genre_leader==true %>部門長<%end%>

			</td>
		</tr>
		<%end%>
	</tbody>
</table>

