<h1>部員一覧</h1>
<table class="table">
	<thead>
		<tr>
			<th>名前</th>
			<th>1ジャン</th>
			<th>2ジャン</th>
			<th> </th>
			<th>その他</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td>未実装</td>
			<td>未実装</td>
			<td><%=link_to ' プロフィール', user_path(user.id) %></br></td>
			<td>
				<% if user.is_admin==true %>代表<%end%>
				<% if user.is_genre_leader==true %>部門長<%end%>

			</td>
		</tr>
		<%end%>
	</tbody>
</table>

