<div class="container">
	  <div class='row'>
		<div class='col-lg-4'></div>
		<div class='col-lg-4' style="margin-top:0.5rem;">
			<h4 class="text-center mt-2 py-1" >
				<%=link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-block text-dark"%>
			</h4>
			<h4 class="text-center mt-2 py-1">
				<%=link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-block text-dark"%>
			</h4>
			<div class=" mt-5 py-1">
				<div class="app-description">
					<span>FFの運営支援アプリです。</span><br>
					<span>デモデータが入っていますのでログインして各種機能をお試してください。<br></span><br>
					<span>デモデータは不定期でリセットされるので、アプリ内でお好きに操作していただいて構いません。<br></span><br>
					<span>ログインは以下から可能です<br></span>
					<table class="table table-sm">
						<thead>
							<tr>
								<th>学習番号</th>
								<th>属性</th>
							</tr>
						</thead>
						<tbody>
							<tr><td>1001</td><td>Lock部門長</td></tr>
							<tr><td>1002</td><td>Hiphop部門長</td></tr>
							<tr><td>1003</td><td>Punking部門長</td></tr>
							<tr><td>1004</td><td>Break部門長</td></tr>
							<tr><td>1005</td><td>Juzz部門長</td></tr>
							<tr><td>1006</td><td>Poping部門長</td></tr>
							<tr><td>1007</td><td>Krump部門長</td></tr>
							<tr><td>1008</td><td>House部門長</td></tr>
							<tr><td>1009</td><td>Girls部門長</td></tr>
							<tr><td>1010~1012</td><td>代表</td></tr>
							<tr><td>1013~1150</td><td>一般部員</td></tr>
							<tr><td>888888</td><td>新規部員</td></tr>
							<tr><td>999999</td><td>新規部員</td></tr>
						</tbody>
					</table>
					<span>パスワード(共通)：password</span>
				</div>
			</div>
		</div>
		<div class='col-lg-4'></div>
	  </div>
</div>


<div id="developed_by">Developed by 14th NaoYamada</div>