<div class="container">
	  <div class='row'>
		<div class='col-lg-4'></div>
		<div class='col-lg-4' style="margin-top:0.5rem;">
			<h4 class="text-center mt-2 py-1" >
				<%=link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-block text-dark"%>
			</h4>
			<h4 class="text-center mt-2 py-1">
				<%=link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-block text-dark"%>
			</h4>
			<div class=" mt-5 py-1">
				<div class="app-description">
					<span>ダンスサークルの運営支援アプリ<br>(開発中)</span><br>
					<span>デモ用のデータが入っています。<br>ログインしてお試してください。<br></span><br>
					<span>データは不定期でリセットされますので、アプリ内でお好きに操作していただいて構いません。<br></span><br>
					<span>ログインは以下から可能です<br></span>
					<span>2001~2003：代表<br></span>
					<span>1001~1150：一般部員<br></span>
					<span>888888：新規部員<br></span>
					<span>999999：新規部員<br></span>
					<span>パスワード(共通)：password</span>
				</div>
			</div>
		</div>
		<div class='col-lg-4'></div>
	  </div>
</div>


<p id="developed_by">Developed by 14th NaoYamada</p>