// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-lg{
	width: 100px;
}

.genre-container{
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
	text-decoration: none;
	align-items:center;
	justify-content: center;
}
.genre-box{
	width:180px;
	height:180px;
	line-height:180px;
	text-align:center;
	margin: 20px 40px;
	color: #ffffff;
	font-size:40px;
	font-weight: bold;
	box-shadow: inset 0 -2px 2px rgba(0,0,0, 0.5);
	background-color:#BBBBBB;
	text-decoration:none !important;
	border-radius: 20px
}
.genre-box:hover{
	background-color: #888888;
}

.member-container{
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
	text-decoration: none;
	justify-content: space-around;
}

.member-box{
	margin: 30px 40px;
	color: #000000;
	font-size:20px;
	text-decoration:none !important;
}
.user_name{
	color:#000000;
}
.user_name:hover{
	color: #888888;
	text-decoration: none;
	justify-content: space-around;
}
.button-center{
	display: flex;
	justify-content: center;
}



@media screen and (max-width:990px) {
  .genre-container{
	justify-content: space-between;
  }
  .genre-box{
	width:150px;
	height:100px;
	line-height:90px;
	margin: 25px 10px;
	font-size:25px;
  }
}


@media screen and (max-width:525px) {
  .genre-box{
	width:100px;
	height:100px;
	line-height:100px;
	margin: 15px 5px;
	font-size:15px;
  }
  .member-box{
	margin: 10px 10px;
	color: #000000;
	font-size:15px;
	text-decoration:none !important;
  }
}