// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_edit{
	margin:0 auto;
}
.user_form{
	display:flex;
	justify-content:center;
	margin:10px auto;
}
.user_form_label{
	width:150px;
	margin:0;
	align-items: center;
}
.genre_request_button{
	margin-top: 5px;
	font-size: 12px;
}
.genre_request_pull_down{
	width:100%;
}
details{
}
#user_genre_info_genre_id{
	margin-left:-35px;
}
.destroy_genre_request_button{
	float: right;
}
.genre_name{
	font-size:15px;
}